.sidebar-menu > li:hover {
  background-color: #e3e7eb !important;
}


body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}


.login-page, .register-page {
     background: #fff !important;
}

body {
        padding: 0;
        margin: 0;
      }
      html, body, #map {
        height: 100%;
      }
img{
	max-width:100%;
	height:auto;
}